**Tuple creation**

In [3]:
tup1 = () #Empty tuple

In [4]:
type(tup1)

tuple

In [6]:
tup2 = (10,20,30) # tuple of integers
tup2

(10, 20, 30)

In [7]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [8]:
tup4 = ('one','two','three') # tuple of strings

In [9]:
tup5 = ('upb',25,(50,100),(150,90)) #Nested loops
tup5

('upb', 25, (50, 100), (150, 90))

In [10]:
tup6 = (100,'upb',17.65) #Tuple of mixed data types

In [12]:
tup7 = ('upb',25,[50,100],[150,90],{'Paderborn','Berlin'},(99,22,33))
tup7

('upb', 25, [50, 100], [150, 90], {'Berlin', 'Paderborn'}, (99, 22, 33))

In [13]:
len(tup7)

6

**Tuple Indexing**

In [14]:
tup2[0] # Retreive first element of the tuple

10

In [15]:
tup4[0]

'one'

In [16]:
tup4[0][0]

'o'

In [17]:
tup4[-1]

'three'

In [18]:
tup5[-1] # Last item of the tuple

(150, 90)

**Tuple Slicing**

In [21]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [22]:
mytuple[0:3] # Return all items from oth to 3rd index location excluding the item

('one', 'two', 'three')

In [23]:
mytuple[2:5]

('three', 'four', 'five')

In [24]:
mytuple[:3]

('one', 'two', 'three')

In [25]:
mytuple[:2]

('one', 'two')

In [26]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [27]:
mytuple[-2:]

('seven', 'eight')

In [28]:
mytuple[-1]

'eight'

In [29]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

**Remove & Change Items**

In [30]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [31]:
del mytuple[0] # Tuples are immutable which means we cannot delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [32]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple # Deleting entire tuple object is possible

**Loop through a tuple**

In [33]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [35]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

**Tuple Membership**

In [36]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [37]:
'one' in mytuple # check if 'one' exist in the list

True

In [38]:
'ten' in mytuple # check if 'ten' exist in the list

False

In [39]:
if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [40]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

**Index Position**

In [41]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [42]:
mytuple.index('one')

0

In [43]:
mytuple.index('five')

4

**Sorting**

In [46]:
mytuple2 = (43,67,99,12,6,90,67)

In [47]:
sorted(mytuple2) #Returns a new sorted list and does not change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [48]:
sorted(mytuple2,reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]